@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

.box {
  margin-top: 1rem;
  border: 1px solid black;
  height: 40vh;
}
.title {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
